<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de livro</title>
</head>
<body>
    <h1>Adição de livro ao Banco</h1>
    <form action="/post" method="post">
        <div><input type="text" name="title" id="title" placeholder="Titulo do livro"></div>
        <input type="number" name="pageqty" id="pageqty" placeholder="Numero de paginnas">
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>